tst.py

#通配Labs
Labs/**
!Labs/lab*
!Labs/lab*/lab*.py
!Labs/lab*/parsons_probs

!Labs/lab00/parsons_probs/ilove61a.py

#通配Hws
Hws/**
!Hws/hw*
!Hws/hw*/hw*.py
!Hws/hw*/parsons_probs

!Hws/hw01/parsons_probs/k_in_num.py